# follow sym link
Options -Indexes +FollowSymLinks

# kusaba as directory index
DirectoryIndex kusaba.php

# set utf8
AddDefaultCharset utf-8

# prevent access to spam.txt
<Files spam.txt>
	order allow,deny
	deny from all
</Files>

# rewrite to gz compressor
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} (.*)\.(html|css|js)$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ /gzstatic.php [L]

# error pages
ErrorDocument 404 /404.html

# Warning: Contents below this line may be erased, please place all .htaccess rules above this line
## !KU_BANS:
