/* board wrappers */
.board-menu {overflow-y:auto}
.board-page {min-width:720px}

/* common */
.css-ready * {
	-webkit-transition:background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
	transition:background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

a, a:hover {text-decoration:none}
abbr {cursor:help; border-bottom:1px dotted #777}
blockquote {margin:1em 20px}

.icon.icon-question-sign[title] {cursor:help}
.border {border-style:solid; border-color:transparent}
hr.border {border-width:1px 0 0; margin:8px 0}

.error {padding:4px 8px; background-color:#e74c3c; color:#fff; margin:10px 0}
.error > a, .error > a:hover {color:#fff; text-decoration:underline}

.input, .btn {
	line-height:1.8; height:1.8em; padding:0 4px; color:#111;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.input-block, .btn-block {width:100%}

.input {background-color:#fff; border:1px solid #aaa}
.input.input-plain {background-color:transparent; border:0; padding:0}
textarea.input {line-height:1.2; min-height:80px; min-width:100%; padding:2px 4px}
select.input {vertical-align:bottom}

.draggable {cursor:move}

/* menu */
#menu-title {font-size:18px; margin:0; padding:2px; text-align:center}
#menu-main-list, .menu-section-list {margin:4px 0}
#menu-main-list > li, .menu-section-list > li {padding:2px 6px}
#menu-boards-empty, .menu-section-empty {padding:6px}

.menu-section-title {font-size:13px; margin:12px 0 4px; padding:2px 6px; position:relative; cursor:pointer}
.menu-section-title:before {content:"+"; position:absolute; top:0; right:8px; font-weight:700; font-size:16px}

/* news */
#news-container {padding:15px; max-width:940px; margin:0 auto}

#news-title > h1 {font-size:18px}
#news-title > h1, #news-title > h3 {margin:0}

#news-tab {border-width:0 0 1px; padding-left:12px; margin:10px 0}
#news-tab > li {border-width:0; margin:0 2px -1px}
#news-tab > li.active {border-width:1px 1px 0 1px}
#news-tab > li > a {display:block; padding:4px; min-width:50px}

#news-entry > li {margin-bottom:15px}
.news-entry-title {padding:2px 6px; font-weight:700}
.news-entry-content {padding:2px 6px}

/* error */
#error-page {padding:15px}
#error-page > h1 {margin:0}
#error-page > div {margin:1em 0}

/* board page */
.board-page-thread {padding:0 8px 12px; position:relative}

.board-nav {margin:4px 0}

#board-logo {margin:8px 0}
#board-logo > img {border-width:1px; max-width:100%; height:auto; display:block; margin:0 auto 4px}
#board-logo > h1 {margin:0}

#board-extra-controls {margin:8px 0; line-height:1.8}
#board-page-list {padding:2px 8px; margin-bottom:2px}
#board-delete-report .btn {min-width:60px}
#board-report {margin-top:2px}

.board-reply-mode {padding:2px 0; margin:4px 0}

/* settings */
#settings-wrapper {
	position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.7);
	z-index:500
}
#settings-box {width:240px; padding:9px; border-width:1px; margin:5% auto; max-height:90%}
#settings-box > h3 {margin:0 0 12px}
#settings-box > label {display:block}

/* postform */
#postform {margin:8px auto}
#postform-table {width:464px; margin:0 auto; border-spacing:2px; border-collapse:separate}
#postform-table td {vertical-align:top}
.postform-table-label {width:80px}
.postform-table-label > label {display:block; line-height:1.8; padding:0 4px}
.postform-table-btn {width:60px}

.postform-imagefile-wrapper {position:relative; height:1.8em}
.postform-imagefile-wrapper > input {position:absolute; top:0; left:0; z-index:100}
.postform-imagefile-wrapper > div {position:absolute; top:0; right:0; z-index:200}

#postform-rules {margin:4px 0 0; padding-left:2em}

#postform-quick {position:fixed; z-index:300; top:10%; right:0; border-width:1px}
#postform-quick.draggable {opacity:0.7}
#postform-quick-title {padding:2px; cursor:move}
#postform-quick-table {width:300px; border-spacing:2px; border-collapse:separate}
#postform-quick-close {line-height:1.8em}
#postform-quick-submit {width:60px}

/* thread and post */
.thread {max-width:100%}
.thread-hidden {opacity:0.5}
.thread-hidden .thread-hidden-hide {display:none}
.thread-hidden .thread-hidden-show {display:inline}

.post-file-info, .post-general-info {margin-bottom:2px}
.post-file-removed {border-width:1px; padding:20px}
.post-file-link {display:inline-block; margin:4px 20px; max-height:200px; max-width:200px}
.post-file-image {max-width:100%; height:auto}
.post-file-youtube {display:block; max-width:100%}

.post-image-search {display:inline-block}
.post-image-search.post-image-search-show .post-image-search-option {display:block}
.post-image-search-option {position:absolute; margin:2px 0 0 -4px; z-index:100}
.post-image-search-option > li:first-child {border-top-width:1px}
.post-image-search-option > li {border-width:0 1px 1px}
.post-image-search-option > li > a {display:block; padding:2px 4px}

.thread-deletion, .thread-summary {margin:1em 0 8px}

.post-wrapper {overflow:hidden; position:relative; padding-left:20px; max-width:100%; margin:4px 0}
.post-arrow {position:absolute; top:6px; left:0}
.post-content {max-width:100%; padding:6px 8px}
.post-content-wrapper {display:table; max-width:100%}
.post-content-file, .post-content-text {display:table-cell; vertical-align:top}
.post-content-file > .post-file-link {margin-right:0}

.post-content-wrapper-block.post-content-wrapper {display:block}
.post-content-wrapper-block > .post-content-file, .post-content-wrapper-block > .post-content-text {
	display:block; max-width:100%
}

.post-file-link-block.post-file-link {display:block; float:none; margin:4px 0; max-width:100%; max-height:none}

.post-clone {display:inline-block; position:absolute; border-width:1px; z-index:100; padding:6px 8px}
.post-clone.post-clone-hidden {z-index:-100; top:-9999px!important; left:-9999px!important; right:auto!important}
.post-clone .post-clone-hide {display:none}
.post-clone > .post-file-link, .post-clone > blockquote {float:left}
.post-clone > .post-file-link {margin-right:0}

.post-reference-backlinks-quote {margin-right:4px}

.post-reference-quote, .post-reference-quote:hover,
.post-reference-backlinks-quote, .post-reference-backlinks-quote:hover {
	text-decoration:underline
}

.post-oekaki-notice {font-size:inherit}

@media (min-width:768px) {
	
}