/* board wrappers */
.board-menu {overflow-y:auto}
.board-page {min-width:320px}

/* common */
.css-ready * {-webkit-transition:all 0.2s ease; transition:all 0.2s ease}
.no-transition, option {-webkit-transition:none!important; transition:none!important}

a, a:hover {text-decoration:none}
abbr, .abbr {cursor:help; border-bottom:1px dotted #777}
blockquote {margin:1em 20px}

.border {border-style:solid; border-color:transparent}
hr.border {border-width:1px 0 0; margin:8px 0}

.error {padding:4px 8px; background-color:#e74c3c; color:#fff; margin:10px 0}

.input, .btn {
	line-height:1.8; height:1.8em; padding:0 4px; color:#111;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.input-block, .btn-block {width:100%}

.input {background-color:#fff; border:1px solid #aaa; /*vertical-align:bottom*/}
.input.input-plain {background-color:transparent; border:0; padding:0}
textarea.input {line-height:1.2; min-height:80px; min-width:100%; padding:2px 4px}

/* menu */
#menu-title {font-size:18px; margin:0; padding:2px; text-align:center}
#menu-main-list, .menu-section-list {margin:4px 0}
#menu-main-list > li, .menu-section-list > li {padding:2px 6px}
#menu-boards-empty, .menu-section-empty {padding:6px}

.menu-section-title {font-size:13px; margin:12px 0 4px; padding:2px 6px; position:relative; cursor:pointer}
.menu-section-title:before {content:"+"; position:absolute; top:0; right:8px; font-weight:700; font-size:16px}

/* news */
#news-container {padding:15px; max-width:940px; margin:0 auto}

#news-title > h1 {font-size:18px}
#news-title > h1, #news-title > h3 {margin:0}

#news-tab {border-width:0 0 1px; padding-left:12px; margin:10px 0}
#news-tab > li {border-width:0; margin:0 2px -1px}
#news-tab > li.active {border-width:1px 1px 0 1px}
#news-tab > li > a {display:block; padding:4px; min-width:50px}

#news-entry > li {margin-bottom:15px}
.news-entry-title {padding:2px 6px; font-weight:700}
.news-entry-content {padding:2px 6px}

/* error */
#error-page {padding:15px}
#error-page > h1 {margin:0}
#error-page > div {margin:1em 0}

/* board page view */
.board-page-view {padding:0 8px 12px}
.board-nav {margin:4px 0}
.board-logo {margin:8px 0}
.board-logo > img {border-width:1px; max-width:100%; height:auto; display:block; margin:0 auto 4px}
.board-logo > h1 {margin:0}
.board-bottom-controls {margin:8px 0; line-height:1.8}
.board-page-list {padding:2px 8px; margin-bottom:2px}
.board-delete-report {}
.board-delete {}
.board-report {margin-top:2px}
.board-delete-btn, .board-report-btn {min-width:60px}
.board-posting-mode {padding:2px 0; margin:4px 0}

/* postform */
#postform {margin:8px auto}
#postform-table {width:464px; margin:0 auto; border-spacing:2px; border-collapse:separate}
#postform-table td {vertical-align:top}
.postform-table-label {width:80px}
.postform-table-label > label {display:block; line-height:1.8; padding:0 4px}
.postform-table-btn {width:60px}

#postform-imagefile-wrapper {position:relative}
#postform-imagefile {position:absolute; top:0; left:0; z-index:100}
#postform-imagefile-other {position:absolute; top:0; right:0; z-index:200}

#postform-rules {margin:4px 0 0; padding-left:2em}

/* thread */
.thread {}
.thread.thread-hidden {opacity:0.5}
.thread.thread-hidden .thread-hidden-hide {display:none}
.thread.thread-hidden .thread-hidden-show {display:inline}
.thread.thread-hidden > .post-file-info, .thread.thread-hidden > .post-info {display:inline} 

.post-file-info, .post-info {margin-bottom:2px}
.post-file-removed {border-width:1px; padding:20px}
.post-file-link {margin:4px 20px}
.post-file-image {display:block; max-height:200px; max-width:200px}

.post-subject {font-weight:700}
.post-name {font-weight:700}

.post-clear {clear:both}

.post-image-search {display:inline-block; position:relative}
.post-image-search.post-image-search-show .post-image-search-option {display:block}
.post-image-search-option {position:absolute; top:1.6em; left:-4px; z-index:100}
.post-image-search-option > li:first-child {border-top-width:1px}
.post-image-search-option > li {border-width:0 1px 1px}
.post-image-search-option > li > a {display:block; padding:2px 4px}

.thread-deletion, .thread-summary {margin:1em 0 8px}

.post-replies-wrapper {margin:4px 0}
.post-replies-wrapper td {vertical-align:top}
.post-replies-arrow {padding:6px 6px 0 0}
.post-replies-info {padding:6px 8px 0}
.post-replies-content {padding:0 8px 6px}
.post-replies-content > .post-file-link, .post-replies-content > blockquote {
	display:inline-block; vertical-align:top
}
.post-replies-content > .post-file-link {margin:0 0 0 20px}

.post-replies.post-file-link {display:inline-block}
