/* common */
a, a:hover {text-decoration:none}

/* menu */
#menu-title {font-size:18px; margin:0; padding:2px; text-align:center}
#menu-main-list, .menu-section-list {margin:4px 0}
#menu-main-list > li, .menu-section-list > li {padding:2px 6px}
#menu-boards-empty, .menu-section-empty {padding:6px}

.menu-section-title {font-size:13px; margin:12px 0 4px;padding:2px 6px; position:relative; cursor:pointer}
.menu-section-title:before {content:"+"; position:absolute; top:0; right:8px; font-weight:700; font-size:16px}

/* news */
#news-container {padding:15px; max-width:940px; margin:0 auto}

#news-title > h1 {font-size:18px}
#news-title > h1, #news-title > h3 {margin:0}

#news-tab {border-width:0 0 1px; border-style:solid; padding-left:12px; margin:10px 0}
#news-tab > li {border-width:0 0 1px; border-style:solid; margin:0 2px -1px}
#news-tab > li.active {border-width:1px 1px 0 1px; border-bottom-color:rgba(0,0,0,0)}
#news-tab > li > a {display:block; padding:4px; min-width:40px}

#news-entry > li {margin-bottom:15px}
.news-entry-title {padding:2px 6px; font-weight:700}
.news-entry-content {padding:2px 6px}
